<table>
    <tr>
        <td class="slider-td">
            <p>{{'MOOD_SELECTOR.AROUSAL' | translate}}</p>
            <md-card class="av-container">
                <div class="slider-label">{{sliderArousal.displayValue}}</div>
                <md-slider #sliderArousal [min]="arousalLowerLimit" [max]="arousalUpperLimit"
                           [step]="0.01" [(ngModel)]="arousal" (ngModelChange)="updateSelector()"></md-slider>
            </md-card>
        </td>
        <td class="slider-td">
            <p>{{'MOOD_SELECTOR.VALENCE' | translate}}</p>
            <md-card class="av-container">
                <div class="slider-label">{{sliderValence.displayValue}}</div>
                <md-slider #sliderValence [min]="valencelLowerLimit" [max]="valenceUpperLimit"
                           [step]="0.01" [(ngModel)]="valence" (ngModelChange)="updateSelector()"></md-slider>
            </md-card>
        </td>
    </tr>
</table>
<div class="select-container">
    <p>{{'MOOD_SELECTOR.MOOD_TAG' | translate}}</p>
    <md-select [(ngModel)]="selMoodName" (ngModelChange)="updateSlider()">
        <md-optgroup *ngFor="let group of moods._moodGroups" [label]="'MOODS.'+group.name.toUpperCase() | translate">
            <md-option *ngFor="let option of group.moods" [value]="option.name">{{'MOODS.'+ option.name.toUpperCase() | translate}}</md-option>
        </md-optgroup>
    </md-select>
</div>