<h3 md-dialog-title>{{'ADD_CONSTRAINT.TITLE' | translate}}</h3>
<button md-raised-button class="mat-accent" md-dialog-close="genre">{{'ADD_CONSTRAINT.GENRE' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="mood">{{'ADD_CONSTRAINT.MOOD' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="startYear">{{'ADD_CONSTRAINT.YEAR-START' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="endYear">{{'ADD_CONSTRAINT.YEAR-END' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="speed">{{'ADD_CONSTRAINT.SPEED' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="dynamic">{{'ADD_CONSTRAINT.DYNAMIC' | translate}}</button>