<h3 md-dialog-title>{{'ADD_CONSTRAINT.TITLE' | translate}}</h3>
<button md-raised-button class="mat-accent" md-dialog-close="genre">{{'ADD_CONSTRAINT.GENRE' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="mood">{{'ADD_CONSTRAINT.MOOD' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="year-start">{{'ADD_CONSTRAINT.YEAR-START' | translate}}</button>
<button md-raised-button class="mat-accent" md-dialog-close="year-end">{{'ADD_CONSTRAINT.YEAR-END' | translate}}</button>