@import '~@angular/material/theming';
@import '../../../theme.scss';

#base-pane {
  padding: 0px !important;
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  min-width: 1200px;
  position: relative;
}

.header-button-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;


  .header-button {
    float: right;
  }
}

player-control-bar {
  position: absolute;
  bottom: 0;
}

.player-content {
  height: 100%;
}

md-tab-group {

  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  }
}

::ng-deep .mat-tab-label{
  line-height: 40px !important;
  height: 40px !important;
  min-width: 80px !important;
}

::ng-deep .mat-tab-label-container {
  background: mat-color($default-theme-accent) !important;
}

::ng-deep md-tab-body {
  margin-top: 20px !important;
}