<md-card id="base-pane">
    <md-tab-group #tabs [ngStyle]="{'height': 'calc(100% - '+getOffsetHeight()+'px)'}">
        <md-tab>
            <ng-template md-tab-label>
                <md-icon [mdTooltip]="'PLAYER.TABS.RADIOSTATION' | translate" class="tab-icons">build</md-icon>
            </ng-template>
            <radiostation-by-feature (onStart)="switchToPlayer()"></radiostation-by-feature>
        </md-tab>

        <md-tab>
            <ng-template md-tab-label>
                <md-icon [mdTooltip]="'PLAYER.TABS.STARTTRACK' | translate" class="tab-icons">audiotrack</md-icon>
            </ng-template>
            <my-radiostation-by-song (onStart)="switchToPlayer()"></my-radiostation-by-song>
        </md-tab>

        <md-tab [disabled]="!trackService.hasNextTracks()">
            <ng-template md-tab-label>
                <md-icon svgIcon="img:sprites" [mdTooltip]="'PLAYER.TABS.PLAYER' | translate"
                         class="tab-icons"></md-icon>
            </ng-template>
            <div class="player-content">
                <track-list></track-list>
            </div>
        </md-tab>
    </md-tab-group>
    <player-control-bar *ngIf="trackService.currentTrack.getValue()"></player-control-bar>
    <div class="header-button-container">
        <a md-icon-button class="header-button" routerLink="/login" (click)="this.authService.logout()">
            <md-icon>exit_to_app</md-icon>
        </a>
        <speech-search-field class="header-button" [minimal]="true"></speech-search-field>
    </div>
</md-card>
