@import '~@angular/material/theming';
@import '../../../theme.scss';

.tab-icons {
  position: relative;
  top: 6px;
}

#base-pane {
  padding: 0px !important;
  width: 100vw;
  height: 100vh;
}

#logout-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}

#speech-btn{
  position: absolute;
  right: 36px;
  top: 0px;
}

.my-content {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
  height: 100%;
}

md-tab-group {
  /deep/ .mat-tab-body-wrapper {
    height: 100%;
  }
}

/deep/ .mat-tab-label{
  line-height: 40px !important;
  height: 40px !important;
}

/*
Use this class if you want to customize the tab highlighting
/deep/ .mat-ink-bar {
  background-color: mat-color(map-get($default-theme, 'accent'), 'darker') !important;
}
*/