<md-card id="base-pane">
    <md-toolbar style="height: 40px">
        <page-title [height]="40">The Reactive Jukebox</page-title>
        <a md-icon-button id="logout-btn" routerLink="/login" (click)="this.authService.logout()">
            <md-icon>exit_to_app</md-icon>
        </a>
    </md-toolbar>
    <md-tab-group #tabs style="margin: 10px; background-color: blue" [ngStyle]="{'height': 'calc(100% - '+getOffsetHeight()+'px)'}">
        <md-tab>
            <ng-template md-tab-label>
                <md-icon mdTooltip="Konfiguration" class="tab-icons">build</md-icon>
            </ng-template>
            <radiostation-by-feature (onStart)="switchToPlayer()"></radiostation-by-feature>
        </md-tab>

        <md-tab style="height: 100%">
            <ng-template md-tab-label>
                <md-icon mdTooltip="Song" class="tab-icons">audiotrack</md-icon>
            </ng-template>
            <my-radiostation-by-song style="height: 100%" (onStart)="switchToPlayer()"></my-radiostation-by-song>
        </md-tab>

        <md-tab>
            <ng-template md-tab-label>
                <md-icon mdTooltip="Player" class="tab-icons">radio</md-icon>
            </ng-template>
            <md-card id="play-list-view" class="my-content">
                <history-list></history-list>
                <current-track></current-track>
                <track-list></track-list>
            </md-card>
        </md-tab>
    </md-tab-group>
    <player-control-bar style="position: absolute; bottom: 0" *ngIf="trackService.currentTrack.getValue()"></player-control-bar>
</md-card>
