@import "../../../styles/styles";

#base-pane {
  padding: 0px !important;
  width: 100vw;
  height: 100vh;
}

#title {
  height: 40px;
  line-height:40px;
}

#logout-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.my-content {
  width: 100%;
  height: 100vh;
}

#play-list-view {
  padding: 0px !important;
  box-shadow: none;
  height: 100%;
  width: 100%;
}

.mat-tab-body-content {

}