<page-title>The Reactive Jukebox</page-title>
<div id="main">
    <div id="left-pane" style="text-align: justify">
        <h1>Hallo,</h1>

        <p>
            Willkommen zur Studie der Projektgruppe 607!
            Danke für deine Teilnahme!
        </p>
        <p>
            In dieser Studie wollen wir herausfinden, wie sich Empfehlungen für Musik maschinell generieren lassen.
            Speziell soll es um die Möglichkeit gehen, Feedback zur Musik geben zu können, die gerade abgespielt wird.
            Dazu haben wir die Software "Reactive Jukebox" entwickelt.
        </p>
        <p>
            Wir möchten dich bitten, unsere Software auszuprobieren und uns anschließend deine Meinung dazu zu geben.
            Benutze dafür einen Browser deiner Wahl.
            Wir empfehlen dir, einen Laptop oder Desktop-Rechner zu verwenden.
        </p>
        <p>
            Zunächst erstellst du eine Radiostation.
            Diese reagiert dynamisch auf dein Feedback und schlägt dir neue Songs vor.
            Zu Beginn kannst du einstellen, welche Art von Songs du hören willst.
            Du musst aber nicht zu jeder Option etwas einstellen.
        </p>
        <p>
            Nach dem erstellen der Radiostation werden die zu deinen Einstellungen passenden Songs abgespielt.
            Aus rechtlichen Gründen ist die Dauer der Stücke auf 30 Sekunden begrenzt.
            Ein cooles Feature der Reactive Jukebox: Du kannst bei jedem Song genau angeben, warum dir dieser gefällt (oder nicht gefällt) und damit die Radiostation immer mehr an deine Vorlieben anpassen. 
        </p>
        <p>
            Nach 20 Songs wird ein Link angezeigt, der dich zu einem Fragebogen weiterleitet.
            Hier kannst du deine Meinung zur "Reactive Jukebox" abgeben, damit wir sie verbessern können.
            Dadurch ist deine Studienteilnahme abgeschlossen!
        </p>

        <button md-raised-button class="mat-accent" (click)="onStart.emit($event);">Los geht's!</button>
        <a style="color: white; float: right" href="http://www.cs.tu-dortmund.de/nps/de/Home/_system/impressum.html"
           target="_blank">Impressum</a>
    </div>
    <div id="right-pane">
        <img style="border: 1px solid black;" src="/assets/img/screen_1.png" width="500px" alt="Radiostation erstellen">
        <img src="/assets/img/screen_2.png" width="500px" style="margin-top: 80px; border: 1px solid black;" alt="Wiedergabe-Ansicht">
    </div>
</div>
