<h2 md-dialog-title>{{'FEEDBACK_DIALOG.LIKE' | translate}} "{{cTrack.title}}" {{'FEEDBACK_DIALOG.REASON' |
    translate}} </h2>
<md-dialog-content class="dialog">
    <table class="track-feedback-table">
        <tr>
            <td>
                <p class="l-title">{{'TRACK_LIST.TITLE' | translate}}:</p></td>
            <td><p class="innerProp">{{cTrack.title}}</p>
            </td>
            <td>

                <div class="feedback_button_table">
                    <button
                            md-icon-button
                            md-mini-fab disableRipple="true" id="{{toggleButtonLikeTitleClass}}"
                            (click)="btnLikeTitle()">
                        <md-icon>thumb_up</md-icon>
                    </button>
                    <button
                            md-icon-button
                            md-mini-fab disableRipple="true" id="{{toggleButtonDislikeTitleClass}}"
                            (click)="btnDislikeTitle()">
                        <md-icon>thumb_down</md-icon>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p class="l-artist">{{'TRACK_LIST.ARTIST' | translate}}: </p></td>
            <td><p class="innerProp">{{cTrack.artist.name}}</p>
            </td>

            <td>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonLikeArtistClass}}"
                        (click)="btnLikeArtist()">
                    <md-icon>thumb_up</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonDislikeArtistClass}}"
                        (click)="btnDislikeArtist()">
                    <md-icon>thumb_down</md-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td><p class="l-genre">{{'TRACK_LIST.GENRE' | translate}}: </p></td>
            <td><p class="innerProp">{{cTrack.genres[0]}}</p></td>
            <td style="margin-left: 15px">
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonLikeGenreClass}}"
                        (click)="btnLikeGenre()">
                    <md-icon>thumb_up</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonDislikeGenreClass}}"
                        (click)="btnDislikeGenre()">
                    <md-icon>thumb_down</md-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="cTrack.releaseDate">
            <td>
                <p class="tl-period">{{'TRACK_LIST.PERIOD' | translate}}: </p></td>
            <td><p class="innerProp">{{cTrack.releaseDate.getFullYear()}}</p>
            </td>
            <td>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonLikePeriodClass}}"
                        (click)="btnLikePeriod()">
                    <md-icon>thumb_up</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonDislikePeriodClass}}"
                        (click)="btnDislikePeriod()">
                    <md-icon>thumb_down</md-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="cTrack.speed">
            <td>
                <p class="tl-speed">{{'TRACK_LIST.SPEED' | translate}}: </p></td>
            <td><p class="innerProp">{{cTrack.speed}}</p>
            </td>
            <td>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonLikeSpeedClass}}"
                        (click)="btnLikeSpeed()">
                    <md-icon>thumb_up</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonDislikeSpeedClass}}"
                        (click)="btnDislikeSpeed()">
                    <md-icon>thumb_down</md-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <p class="tl-mood">{{'TRACK_LIST.MOOD' | translate}}: </p></td>
            <td><p class="innerProp"></p>
            </td>
            <td>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonLikeMoodClass}}"
                        (click)="btnLikeMood()">
                    <md-icon>thumb_up</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonDislikeMoodClass}}"
                        (click)="btnDislikeMood()">
                    <md-icon>thumb_down</md-icon>
                </button>
            </td>
        </tr>
        <tr *ngIf="cTrack.dynamic">
            <td>
                <p class="tl-dynamics">{{'TRACK_LIST.DYNAMICS' | translate}}: </p></td>
            <td><p class="innerProp">{{cTrack.dynamic}}</p>
            </td>
            <td>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonLikeDynamicsClass}}"
                        (click)="btnLikeDynamics()">
                    <md-icon>thumb_up</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab disableRipple="true" id="{{toggleButtonDislikeDynamicsClass}}"
                        (click)="btnDislikeDynamics()">
                    <md-icon>thumb_down</md-icon>
                </button>
            </td>
        </tr>
    </table>
</md-dialog-content>
<md-dialog-actions>
    <button
            id="dialog_close_btn"
            md-raised-button
            md-dialog-close
            >{{'FEEDBACK_DIALOG.CLOSE' | translate}}
    </button>
    <button
            id="dialog_confirm_btn"
            md-raised-button
            md-dialog-close = "1"
            >{{'FEEDBACK_DIALOG.CONFIRM' | translate}}
    </button>
    <button
            id="dialog_confirm_apply_btn"
            md-raised-button
            md-dialog-close = "2"
            >{{'FEEDBACK_DIALOG.CONFIRMAPPLY' | translate}}
    </button>
</md-dialog-actions>