@import "~@angular/material/theming";
@import "../../../../styles/styles";


.track-feedback-table {
  width: 100%;
}

.track-feedback-table tr td {
  padding-bottom: 15px;
}

.dislike {
  background-color: mat-color($default-theme-primary) !important;
}

.like {
  background-color: #05af04 !important;
}

.mat-raised-button {
  margin: 0 4px;
}