@import "~@angular/material/theming";
@import "../../../../styles/styles";


.track-feedback-table {
  width: 100%;
}

.track-feedback-table tr td {
  padding-bottom: 15px;
}


#feedback-like-artist-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-like-artist-toggle-on {
  background-color: #05af04;
}

#feedback-dislike-artist-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-dislike-artist-toggle-on {
  background-color: mat-color($default-theme-primary);
}

#feedback-like-genre-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-like-genre-toggle-on {
  background-color: #05af04;
}

#feedback-dislike-genre-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-dislike-genre-toggle-on {
  background-color: mat-color($default-theme-primary);
}

#feedback-like-title-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-like-title-toggle-on {
  background-color: #05af04;
}

#feedback-dislike-title-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-dislike-title-toggle-on {
  background-color: mat-color($default-theme-primary);
}

#feedback-like-period-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-like-period-toggle-on {
  background-color: #05af04;
}

#feedback-dislike-period-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-dislike-period-toggle-on {
  background-color: mat-color($default-theme-primary);
}

#feedback-like-mood-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-like-mood-toggle-on {
  background-color: #05af04;
}

#feedback-dislike-mood-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-dislike-mood-toggle-on {
  background-color: mat-color($default-theme-primary);
}

#feedback-like-dynamics-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-like-dynamics-toggle-on {
  background-color: #05af04;
}

#feedback-dislike-dynamics-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-dislike-dynamics-toggle-on {
  background-color: mat-color($default-theme-primary);
}

#feedback-like-speed-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-like-speed-toggle-on {
  background-color: #05af04;
}

#feedback-dislike-speed-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#feedback-dislike-speed-toggle-on {
  background-color: mat-color($default-theme-primary);
}
.mat-raised-button {
  margin: 0 4px;
}