#search-pane {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.tl{
}

.tl-header{
}

.tl-row{
}

.t1-row:nth-child(odd){
}

.tl-title-col{
  width: 40%;
  text-align: left;
}

.tl-artist-col{
  width: 30%;
  text-align: left;
}
.tl-album-col{
  width: 30%;
  text-align: left;
}

.tl-name-col{
  width: 100%;
  text-align: left;
}
