<div class="component-pane">
    <page-title [height]="32">{{'RADIOSTATION_CREATE.TITLE' | translate}}</page-title>
    <simple-search class="search-field" (selectedTrack)="addStartTrack($event)"></simple-search>
    <md-divider></md-divider>
    <md-nav-list>
        <track-list-item [track]="track" [showFeedback]="false"></track-list-item>
    </md-nav-list>
    <md-divider></md-divider>
    <button md-raised-button style="position: absolute; bottom: 0; left: 0; margin: 10px" (click)="start()">{{'RADIOSTATION_CREATE.START' | translate}}</button>
    <md-select [placeholder]="'RADIOSTATION_CREATE.ALGORITHM' | translate"
               [(ngModel)]="creationParameters.algorithm">
        <md-option *ngFor="let algorithm of algorithms" [value]="algorithm">
            {{('ALGORITHMS.'+algorithm) | translate}}
        </md-option>
    </md-select>
    <button md-raised-button style="position: absolute; bottom: 0; right: 0; margin: 10px" (click)="reset()">{{'RADIOSTATION_CREATE.RESET' | translate}}</button>
</div>
