<md-card id="component-pane">
    <md-card-title id="title">{{'RADIOSTATION_CREATE.TITLE' | translate}}</md-card-title>

    <md-card-content style="height: 100%">
        <simple-search id="search-field" (selectedTrack)="addStartTrack($event)"></simple-search>

        <md-divider></md-divider>
        <md-nav-list>
            <track-list-item [track]="track" [showFeedback]="false"></track-list-item>
        </md-nav-list>
        <md-divider></md-divider>
    </md-card-content>

    <md-card-footer>
        <md-card-actions>
            <button md-raised-button (click)="start()">{{'RADIOSTATION_CREATE.START' | translate}}</button>
            <md-select [placeholder]="'RADIOSTATION_CREATE.ALGORITHM' | translate" [(ngModel)]="creationParameters.algorithm" name="food">
                <md-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                    {{('ALGORITHMS.'+algorithm) | translate}}
                </md-option>
            </md-select>
            <button md-raised-button (click)="reset()">{{'RADIOSTATION_CREATE.RESET' | translate}}</button>
        </md-card-actions>
    </md-card-footer>

</md-card>
