#title {
  text-align: center;
  vertical-align: middle;
}

.search-field {
  margin: 10px;
  width: auto;
  height: 100%;
}

.component-pane {
  width: auto;
  height: 100%;
  background-color: green;
}