@import "../../../../theme.scss";

#component-pane {
  width: auto;
  height: 100%;

  #selected-track-container {
    position: fixed;
    bottom: 56px;
    width: calc(100% - #{2 * $default-margin});
    margin: $default-margin;
  }

  #bottom-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;

    button {
      margin: $default-margin;
    }

    #reset {
      float: right;
    }
  }
}
