@import "../../../../theme.scss";

::ng-deep .mat-list-item-content {
  padding: 0 10px !important;
}

p {
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 48px;
  line-height: 24px;
  padding: 0px 2px 0px 2px;
}

.tl-cover-col {
  width: 48px;
  height: 48px;
  text-align: left;
}

.text {
  width: calc(100% - 138px);
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding-left: 10px;

  .tl-title-col {
    width: 29%;
    text-align: left;
  }

  .tl-artist-col {
    width: 29%;
    text-align: left;
  }

  .tl-album-col {
    width: 27%;
    text-align: left;
  }

  .tl-genre-col {
    width: 15%;
    text-align: left;
  }
}

.tl-date-col {
  width: 48px;
  text-align: center;
}

.tl-duration-col {
  width: 60px;
  text-align: center;
}

.tl-icon-col {
  width: 30px;
  text-align: center;
}

.tl-cover-col-big {
  width: 15%;
  max-width: 300px;
  max-height: 300px;
  min-height: 180px;
  min-width: 180px;
  box-shadow: 5px 5px 18px -5px rgb(0, 0, 0);
}

.cover-img-thumb {
  position: relative;
  height: 100%;
  width: 100%;
  align: left;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;


  md-icon {
    visibility: hidden;
  }

  &:hover {
    position: relative;

    md-icon {
      visibility: visible;
    }
  }
}

.currentTrack {
  p {
    color: mat-color($default-theme-primary);
  }
  a {
    color: mat-color($default-theme-primary);
  }
}

.historyTrack {
  background: mat-color($default-theme-accent);
  opacity: .35;
}

::ng-deep .mat-list-item-content {
  justify-content: space-between;
}

::ng-deep .big-row > .mat-list-item-content {
  height: auto !important;
  align-items: normal !important;
}

.big-row {
  opacity: 1 !important;
}

.detail-view-wrapper {
  width: 100%;
}


