.tl-id-col{
  width: 5%;
  align-content: left;
}

.tl-title-col{
  width: 30%;
  text-align: left;
}

.tl-artist-col{
  width: 30%;
  text-align: left;
}

.tl-album-col{
  width: 15%;
  text-align: left;
}

.tl-duration-col{
  width: 7%;
  text-align: center;
}

.t1-like-col{
  width: 4%;
  text-align: right;
}

.t1-dislike-col{
  width: 4%;
  text-align: left;
}

.tl-icon-col{
  width: 5%;
  text-align: center;
}

.cover-img {
  max-width: 45px;
  max-height: 45px;
  width: 100%;
  min-height: 45px;
  min-width: 45px;
  align: left;
}

/deep/ .mat-list-item-content {
  justify-content: space-between;
}

.cover-img:hover {
  position: relative;
  z-index: 5;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.feedback-button-wrapper {
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: .75;
  position: relative;
  left: 0;
  bottom: 0;
  margin: 10px;

  &.like {
    background: url("../../../../assets/icon/like.png");
    background-size: 100%;
  }

  &.dislike {
    background: url("../../../../assets/icon/dislike.png");
    background-size: 100%;
  }
}
