<md-list-item>
    <p class="tl-cover-col">
        <a> <img *ngIf="track.cover" src="{{track.cover}}" alt="Cover" class="cover-img">
            <img *ngIf="!track.cover" src="../../../../assets/img/album_cover.png" alt="Cover" class="cover-img">
        </a>
    </p>
    <p class="tl-id-col"></p>
    <p class="tl-title-col">{{track.title}}</p>
    <p class="tl-artist-col">{{track.artist.name}}</p>
    <p class="tl-album-col">{{track.album.title}}</p>
    <p class="tl-duration-col">{{track.duration | mySecondsToDate | date:'mm:ss'}}</p>


    <button class="t1-like-col"
            md-icon-button
            md-fab class="feedback-button-wrapper"
            (click)="btn_like(); $event.stopPropagation()">
        <md-icon class="feedback-icons feedback-md-icon-wrapper">thumb_up</md-icon>
    </button>
    <button class="t1-dislike-col"
            md-icon-button
            md-fab class="feedback-button-wrapper"
            (click)="btn_dislike(); $event.stopPropagation()">
        <md-icon class="feedback-icons feedback-md-icon-wrapper">thumb_down</md-icon>
    </button>
    <p class="tl-icon-col"><i class="material-icons" (click)="onDelete.emit($event); $event.stopPropagation()">delete</i></p>
</md-list-item>