$nav-button-color: #00838F;
$primary-color-dark:    #1E1B1D;
$primary-color:         #232222;
$primary-red:           #a52323;
$secondary-red-dark:    #4e1616;
$secondary-red-light:   #512929;
$border-color:          #7D6856;
$devider-color:         #3A3129;

$primary-color-light:  #554A42;
$primary-color-text:   rgba(255, 255, 255, 0.75);
$accent-color:         #a52323;
$primary-text-color:   rgba(255, 255, 255, 0.75);
$secondary-text-color: #757575;