<div id="component-pane">
    <page-title [height]="32">{{'RADIOSTATION_CREATE.PROP_SELECT' | translate}}</page-title>

    <div id="feature-container">
        <!-- create the tiles used to select the feature -->
        <tile [label]="'RADIOSTATION_CREATE.MOOD' | translate" (onDelete)="removeProperty('mood')" [showContent]="true">
            <mood-selector (selMood)="setSelMood($event)"></mood-selector>
        </tile>

        <md-card class="tile" *ngFor="let tile of tiles; let i = index">
            <button md-icon-button class="close-tile-button" (click)="removeProperty(tile, i)">
                <md-icon>close</md-icon>
            </button>
            <p>{{'RADIOSTATION_CREATE.'+ tile.toUpperCase() | translate}}</p>

            <range-selector *ngIf="tile == 'year'"
                            [maxLimit]="yearUpperLimit"
                            [minLimit]="yearLowerLimit"
                            [minLabel]="'RADIOSTATION_CREATE.STARTYEAR' | translate"
                            [maxLabel]="'RADIOSTATION_CREATE.ENDYEAR' | translate"
                            [step]="1"
                            [(minValue)]="this.radiostation.startYear"
                            [(maxValue)]="this.radiostation.endYear"></range-selector>

            <range-selector *ngIf="tile == 'speed'"
                            [maxLimit]="speedUpperLimit"
                            [minLimit]="speedLowerLimit"
                            [minLabel]="'RADIOSTATION_CREATE.STARTSPEED' | translate"
                            [maxLabel]="'RADIOSTATION_CREATE.ENDSPEED' | translate"
                            [step]="1"
                            [(minValue)]="this.radiostation.minSpeed"
                            [(maxValue)]="this.radiostation.maxSpeed"></range-selector>
            <md-card class="year-container" *ngIf="tile == 'dynamic'">
                <div class="slider-label">{{sliderDynamic.displayValue}}</div>
                <md-slider #sliderDynamic [min]="dynamicLowerLimit" [max]="dynamicUpperLimit" [step]="0.05" [(ngModel)]="radiostation.dynamic"></md-slider>
            </md-card>
            <md-card class="genre-container" *ngIf="tile == 'genres'" [@expand]="tile">
                <md-select style="width: 300px; padding: 0" multiple [(ngModel)]="radiostation.genres">
                    <md-option *ngFor="let option of genres" [value]="option">{{option}}</md-option>
                </md-select>
            </md-card>
        </md-card>
    </div>

    <div id="bottom-bar">
        <button md-raised-button class="mat-accent" (click)="start()">{{'RADIOSTATION_CREATE.START' | translate}}
        </button>
        <button *ngIf="trackService.hasNextTracks()" md-raised-button class="mat-accent" (click)="update()">{{'RADIOSTATION_CREATE.UPDATE' | translate}}
        </button>
        <button md-raised-button class="mat-accent" (click)="selectConstraint()">
            <md-icon>add_circle</md-icon>
        </button>
        <button md-raised-button id="reset" class="mat-accent" (click)="resetRadiostation()">{{'RADIOSTATION_CREATE.RESET' | translate}}
        </button>
    </div>
</div>