@import '~@angular/material/theming';
@import '../../../../theme.scss';

#component-pane {
  width: 100vw;
  height: 500px;
  padding: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#add-button {
  margin-top: 25px;
  height: 110px;
  width: 200px;
  margin: 10px;
  display: block;
  float: left;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.tile {
  height: 80px;
  width: 200px;
  margin: 10px;
  display: block;
  float: left;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  background-color: mat-color($default-theme-accent);
}

#add-icon {
  font-size: 48px;
  margin-top: -24px;
  margin-left: -24px;
}

#close-tile-button {
  position: absolute;
  top: -5px;
  right: -5px;
}

.input-year {
  width: 60px;
}