<div id="component-pane">
    <page-title [height]="32">{{'RADIOSTATION_CREATE.PROP_SELECT' | translate}}</page-title>

    <div id="feature-container">
        <tile style="height: 235px" [label]="'RADIOSTATION_CREATE.MOOD' | translate"
              (onDelete)="removeProperty('mood')"
              (onAdd)="addConstraint('mood')"
              [showContent]="radiostation.arousal != null && radiostation.valence != null">
            <mood-selector (selMood)="setSelMood($event)"></mood-selector>
        </tile>

        <tile style="height: 185px" [label]="'RADIOSTATION_CREATE.YEAR' | translate"
              (onDelete)="removeProperty('year')"
              (onAdd)="addConstraint('year')"
              [showContent]="radiostation.startYear != null && radiostation.endYear != null">
            <range-selector [maxLimit]="yearUpperLimit"
                            [minLimit]="yearLowerLimit"
                            [minLabel]="'RADIOSTATION_CREATE.STARTYEAR' | translate"
                            [maxLabel]="'RADIOSTATION_CREATE.ENDYEAR' | translate"
                            [step]="1"
                            [(minValue)]="this.radiostation.startYear"
                            [(maxValue)]="this.radiostation.endYear"></range-selector>
        </tile>

        <tile style="height: 125px" [label]="'RADIOSTATION_CREATE.DYNAMIC' | translate"
              (onDelete)="removeProperty('dynamic')"
              (onAdd)="addConstraint('dynamic')"
              [showContent]="radiostation.dynamic != null">
            <md-card class="year-container">
                <div class="slider-label">{{sliderDynamic.displayValue}}</div>
                <md-slider #sliderDynamic [min]="dynamicLowerLimit" [max]="dynamicUpperLimit" [step]="0.05" [(ngModel)]="radiostation.dynamic"></md-slider>
            </md-card>
        </tile>

        <tile style="height: 170px" [label]="'RADIOSTATION_CREATE.SPEED' | translate"
              (onDelete)="removeProperty('speed')"
              (onAdd)="addConstraint('speed')"
              [showContent]="radiostation.minSpeed != null && radiostation.maxSpeed != null">
            <range-selector [maxLimit]="speedUpperLimit"
                            [minLimit]="speedLowerLimit"
                            [minLabel]="'RADIOSTATION_CREATE.STARTSPEED' | translate"
                            [maxLabel]="'RADIOSTATION_CREATE.ENDSPEED' | translate"
                            [step]="1"
                            [(minValue)]="this.radiostation.minSpeed"
                            [(maxValue)]="this.radiostation.maxSpeed"></range-selector>
        </tile>

        <tile style="height: 130px" [label]="'RADIOSTATION_CREATE.GENRES' | translate"
              (onDelete)="removeProperty('genres')"
              (onAdd)="addConstraint('genres')"
              [showContent]="radiostation.genres">
            <md-card class="genre-container">
                <md-select style="width: 300px; padding: 0" multiple [(ngModel)]="radiostation.genres">
                    <md-option *ngFor="let option of genres" [value]="option">{{option}}</md-option>
                </md-select>
            </md-card>
        </tile>

    </div>

    <div id="bottom-bar">
        <button md-raised-button class="mat-accent" (click)="start()">{{'RADIOSTATION_CREATE.START' | translate}}
        </button>
        <button *ngIf="trackService.hasNextTracks()" md-raised-button class="mat-accent" (click)="update()">{{'RADIOSTATION_CREATE.UPDATE' | translate}}
        </button>
        <button md-raised-button id="reset" class="mat-accent" (click)="resetRadiostation()">{{'RADIOSTATION_CREATE.RESET' | translate}}
        </button>
    </div>
</div>