#wrapper {
    width: 100vw;
    padding: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    ;
}

.tile {
    height: 200px;
    width: 200px;
    margin: 20px;
    display: block;
    float: left;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}
