@import '~@angular/material/theming';
@import '../../../../theme.scss';

#component-pane {
  width: auto;
  height: 100%;

  #feature-area {
    height: calc(100% - 100px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow-y: hidden;
    flex-flow: column wrap;

    tile {
      .year-container {
        .slider-label {
          width: 50px;
        }

        display: flex;
        align-items: center;
        padding: 5px;
        width: 180px;
        height: 35px;
      }

      .genre-container {
        padding: 10px;

        #add-tracks {
          margin-top: 10px;
        }
      }
    }
  }
}

#bottom-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;

  button {
    margin: $default-margin;
  }

  #reset {
    float: right;
  }
}