<div style="max-width: 450px">
    <h3 md-dialog-title>Vielen Dank!</h3>
    <p style="text-align: justify">
        Vielen Dank, dass Du dir die Zeit genommen und unsere Jukebox getestet hast! Du kannst nun den Fragebogen
        ausfüllen und uns Feedback geben, indem du unten auf den Button klickst. Wenn du weiter Musik hören möchtest,
        klicke auf 'Weiter hören'. Du kannst den Fragebogen nun jeder Zeit aufrufen, indem Du oben rechts in der Ecke
        auf diesen Button klickst: <md-icon style="font-size: 16px">comment</md-icon>
    </p>
    <button md-raised-button class="mat-accent" md-dialog-close="survey">Zum Fragebogen</button>
    <button md-raised-button class="mat-accent" md-dialog-close="go-on">Weiter hören</button>
</div>