<form>
    <div class="speech-search-field-container">
        <md-input-container class="search-input">
            <input mdInput [(ngModel)]="detectedText" [placeholder]="'SPEECH.COMMAND_INPUT' | translate"
                   class="search-input" (input)="test($event)">
        </md-input-container>
        <button class="mic-button" md-icon-button (click)="toggleListening()">
            <i *ngIf="listening" class="material-icons md-48">mic</i>
            <i *ngIf="!listening" class="material-icons md-48">mic_none</i>
        </button>
    </div>
</form>