<div class="speech-search-field-container" *ngIf="!this.minimal">
    <md-input-container class="search-input">
        <input mdInput #searchInput [(ngModel)]="detectedText" [placeholder]="'SPEECH.COMMAND_INPUT' | translate"
               class="search-input" (keyup)="test($event)">
    </md-input-container>
    <button class="mic-button" md-icon-button (click)="toggleListening()">
        <i *ngIf="listening" class="material-icons md-48">mic</i>
        <i *ngIf="!listening" class="material-icons md-48">mic_none</i>
    </button>
</div>
<div *ngIf="this.minimal">
    <button class="mic-button-small" md-icon-button (click)="toggleListening()">
        <i *ngIf="listening" class="material-icons md-36">mic</i>
        <i *ngIf="!listening" class="material-icons md-36">mic_none</i>
    </button>
</div>
