$mic-button-width: 40px;

.speech-search-field-container {
  position: relative;

  .search-input {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - #{$mic-button-width});
  }

  .mic-button {
    position: absolute;
    top: 0;
    left: calc(100% - #{$mic-button-width});
    width: $mic-button-width;
  }
}
