<div style="width: 100%;">
    <div style="float: left; width: 20%">
        <img *ngIf="this.trackService.currentTrack" src="{{this.trackService.currentTrack.cover}}" alt="Cover" style="width:100px;height:100px;">
    </div>
    <div style="float: left; width: 60%">
        <h1 *ngIf="this.trackService.currentTrack">{{this.trackService.currentTrack.artist}} - {{this.trackService.currentTrack.title}}</h1>
        <p *ngIf="this.trackService.currentTrack">{{this.trackService.currentTrack.album}}</p>
    </div>
    <div style="float: left; width:10%">
        <h1 *ngIf="this.trackService.currentTrack">00:00/{{this.trackService.currentTrack.duration | mySecondsToDate | date:'mm:ss'}}</h1>
    </div>
</div>
<div style="clear:both"></div>
