<md-card id="base-pane">
    <md-card class="login-card">
        <md-tab-group [dynamicHeight]="true" #tabGroup>
            <md-tab [label]="'LOGIN_PAGE.LOGIN' | translate">
                <h1>{{'LOGIN_PAGE.LOGIN' | translate}}</h1>
                <md-input-container>
                    <input mdInput [(ngModel)]="loginData.username" [placeholder]="'GENERAL.USERNAME' | translate"
                           type="text" class="login-input">
                </md-input-container>
                <br>
                <md-input-container>
                    <input mdInput [(ngModel)]="loginData.password" [placeholder]="'GENERAL.PASSWORD' | translate"
                           type="password" class="login-input">
                </md-input-container>
                <br>
                <button md-raised-button class="login-button" (click)="login()">{{'LOGIN_PAGE.LOGIN' | translate}}
                </button>
            </md-tab>
            <md-tab [label]="'LOGIN_PAGE.REGISTER' | translate">
                <h1>{{'LOGIN_PAGE.REGISTER' | translate}}</h1>
                <md-input-container>
                    <input mdInput [(ngModel)]="registerData.username" [placeholder]="'GENERAL.USERNAME' | translate"
                           type="text" class="login-input">
                </md-input-container>
                <br>
                <md-input-container>
                    <input mdInput [(ngModel)]="registerData.password" [placeholder]="'GENERAL.PASSWORD' | translate"
                           type="password" class="login-input">
                </md-input-container>
                <br>
                <md-input-container>
                    <input mdInput [(ngModel)]="registerData.inviteKey" [placeholder]="'GENERAL.INVITE_KEY' | translate"
                           type="password" class="login-input">
                </md-input-container>
                <br>
                <button md-raised-button class="login-button" (click)="register()">{{'LOGIN_PAGE.REGISTER' |
                    translate}}
                </button>
            </md-tab>
        </md-tab-group>
    </md-card>
</md-card>