@import '~@angular/material/theming';
@import '../../../theme.scss';

#player_bar_wrapper {
  position: relative;
  height: 44px;
  width: 100vw;
  padding: 0px;
  z-index: 666;
  background: mat-color($default-theme-accent);
}

#progress_bar {
  position: absolute;
  top: 0;
  height: 4px;
  width: 100%;
  border: 0px;
  background: #ff5131;
  z-index: 2;
}

progress[value] {
  color: mat-color($default-theme-primary);
}

/* IE10 */
progress::-webkit-progress-bar-value {
  background: mat-color($default-theme-primary);
}

progress::-webkit-progress-value {
  background: mat-color($default-theme-primary);
}

progress::-moz-progress-bar {
  background: mat-color($default-theme-primary);
}

#controls_wrapper {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 130px;
  flex-flow: row;
  padding: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: mat-color($default-theme-accent);
}

.controlls {
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
}

#feedback_current_song_wrapper {
  color: white;
  padding: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: mat-color($default-theme-accent);
  border: none;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-spacing: 0px;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

#player_current_song_desc {
  position: relative;
  top: 4px;
  height: 36px;
  color: white;
  line-height: 36px;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: mat-color($default-theme-accent);
}

.title_wrapper {
  font-weight: bold;
}
.position_wrapper {
  margin-left: 15px;
}

#feedback {
  position: relative;
  top: 4px;
  padding-left: 20px;
  height: 36px;
  width: 76px;
  display: flex;
  align-items: center;
}

#sound_wrapper {
  width: 180px;
  position: absolute;
  top: 4px;
  right: 0px;
  color: white;
  float: right;
  vertical-align: middle;
  flex-flow: row;
  padding: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: mat-color($default-theme-accent);
}

#sound-slider {
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 40px;
  bottom: 3px;
}

button {
  padding: 0px;
  width: 40px;
}

