<div id="player_bar_wrapper" *ngIf="show">

    <div id="progress_bar">
        <progress value="{{audioPlayer.currentTime}}" max="1"></progress>
    </div>

    <table id="player_bar_table">
        <tr>
            <td>
                <div class="player_bar_left_spacer"></div>
            </td>
            <td>
                <button class="player_icon" id="back_button" (click)="skipBackward()"><i class="material-icons">skip_previous</i>
                </button>
            </td>
            <td>
                <button class="player_icon" id="play_button" *ngIf="audioPlayer.paused" (click)="audioPlayer.play()">
                    <i class="material-icons">play_circle_outline</i>
                </button>
                <button class="player_icon" id="pause_button" *ngIf="!audioPlayer.paused" (click)="audioPlayer.pause()">
                    <i class="material-icons">pause_circle_outline</i>
                </button>
            </td>
            <td>
                <button class="player_icon" id="skip_button" (click)="skipForward()"><i class="material-icons">skip_next</i>
                </button>
            </td>


            <td class="player_bar_middle_spacer"></td>
            <td>
                <div id="player_current_song_desc"> {{currentTrack.artist}} - {{currentTrack.title}}</div>
            </td>
            <- how to get track
            <td>
                <div id="player_current_timer"> {{audioPlayer.currentTime | mySecondsToDate |
                    date:'mm:ss'}}/{{currentTrack.duration | mySecondsToDate | date:'mm:ss'}}
                </div>
            </td>

            <td>
                <button class="player_icon" id="player_bar_like_button" (click)="like()"><i class="material-icons">thumb_up</i>
                </button>
            </td>
            <td>
                <button class="player_icon" id="player_bar_dislike_button" (click)="dislike()"><i
                        class="material-icons">thumb_down</i></button>
            </td>
            <td>
                <button class="player_icon" id="player_bar_tendency_button" (click)="detailFeedback()"><i
                        class="material-icons">swap_vertical_circle</i></button>
            </td>

            <td class="player_bar_middle_spacer"></td>

            <td>
                <button class="player_icon" id="player_bar_volume_button"><i class="material-icons">volume_down</i></button>
                <input type="range" step="0.1" id="volume_range" max="1" value="0.5" >
                <button class="player_icon" id="player_bar_volume_button"><i class="material-icons">volume_down</i></button>
            </td>
            <-"volume bar audioPlayer.volume = 0.5"
            <td>
                <div class="player_bar_right_spacer"></div>
            </td>

        </tr>
    </table>

</div>