#player_bar_wrapper {
  height: 65px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
}

#progress_bar {
  position: absolute;
  top: 0;
  height: 4px;
  width: 100%;
  border: 0px;
  background: #ff5131;
}

progress[value] {color:#9b0000} /* IE10 */
progress::-webkit-progress-bar-value {background:#9b0000}
progress::-webkit-progress-value {background:#9b0000}
progress::-moz-progress-bar {background:#9b0000}



#controls_wrapper {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 120px;
  flex-flow: row
}

.controlls {
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
}

.controlls-icons {
  font-size: 38px;
}

#player_current_song_desc {
  position: absolute;
  left: 130px;
  bottom: 10px;
  height: 45px;
  width: 40%;
  color: white;
  line-height: 45px;
  text-align: center;
}

#feedback_wrapper {
  position: fixed;
  bottom: 10px;
  width: 140px;
  left: 40%;
  margin-left: 130px;
  color: white;
  float: left;
  flex-flow: row;
}

.feedback-icons {
  font-size: 28px;
}

#sound_wrapper {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 220px;
  float: right;
}

#volume_range {
  height: 34px;
}

.volume-icons {
  font-size: 38px;
}

.player_icon {
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
  align-items: center;
}