<md-nav-list style="overflow: hidden">
    <md-divider></md-divider>
    <track-list-item #hist [track]="track" (onCoverClick)="jumpToTrack(track)"
                     [showPlay]="false"
                     [displayClass]="'historyTrack'"
                     (onDelete)="this.historyService.deleteFromPersistentHistory(track.historyId); this.indirectFeedback(track)"
                     (ongClick)="this.setDetailedTrack(this)"
                     *ngFor="let track of this.historyService.history"></track-list-item>
    <track-list-item #curr [track]="this.currentTrack" (onCoverClick)="jumpToTrack(this.currentTrack)"
                     [showPlay]="false"
                     [showDelete]="false"
                     [displayClass]="'currentTrack'"
                     (onClick)="this.setDetailedTrack(this.currentTrack)"></track-list-item>
    <track-list-item #upcomming [track]="track"
                     [displayClass]="'upcomingTrack'"
                     (onCoverClick)="jumpToTrack(track)"
                     (onDelete)="trackService.removeTrack(track); this.indirectFeedback(track)"
                     (onClick)="this.setDetailedTrack(track)"
                     *ngFor="let track of this.nextTracks"></track-list-item>
    <md-divider></md-divider>
</md-nav-list>
