<md-nav-list class="tl">
    <md-list-item class="tl-header" >
        <p class="tl-id-col" >{{'TRACK_LIST.ID' | translate}}</p>
        <p class="tl-title-col">{{'TRACK_LIST.TITLE' | translate}}</p>
        <p class="tl-artist-col">{{'TRACK_LIST.ARTIST' | translate}}</p>
        <p class="tl-album-col">{{'TRACK_LIST.ALBUM' | translate}}</p>
        <p class="tl-duration-col">{{'TRACK_LIST.DURATION' | translate}}</p>
        <p class="tl-icon-col"></p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="tl-row" *ngFor="let track of this.nextTracks">
        <p class="tl-id-col">{{track.id}}</p>
        <p class="tl-title-col">{{track.title}}</p>
        <p class="tl-artist-col">{{track.artist}}</p>
        <p class="tl-album-col">{{track.album}}</p>
        <p class="tl-duration-col">{{track.duration | mySecondsToDate | date:'mm:ss'}}</p>
        <p class="tl-icon-col"><i class="material-icons">delete</i></p>
    </md-list-item>
</md-nav-list>
