@import "../../../styles/styles";

.tl-tendency{
  margin: 10px;
}

.tl-trend-ico-col{
  width: 5%;
  text-align: left;
}

.mat-nav-list {
  padding-top: 0px;
}

.tl-trend-disciption-col{
  width: 65%;
  text-align: left;
  padding-left: 10px;
}

.tl-refresh-ico-col{
  width: 30%;
  text-align: left;
}

#tendency_button_wrapper{
  position: relative;
  left:-12px;
  bottom:0;
  font-size: 48px;
}

#renew_button_wrapper{
  position: relative;
  left:-12px;
  bottom:0;
  font-size: 48px;
}
