<nav>
    <a routerLink="/radiostation-by-feature">{{'RADIOSTATION_CREATE.BY_FEATURE' | translate}}</a>
    <a routerLink="/radiostation-by-song">{{'RADIOSTATION_CREATE.BY_SONG' | translate}}</a>
</nav>
<div class="title">{{'RADIOSTATION_CREATE.TITLE' | translate}}</div>
<div class="center-container">
    <speech-search-field class="search-field"></speech-search-field>
</div>
<div>
<button md-raised-button class="button-reset" (click)="reset()">{{'RADIOSTATION_CREATE.RESET' | translate}}</button>

<button md-raised-button class="button-start" (click)="start()">{{'RADIOSTATION_CREATE.START' | translate}}</button>
</div>

<router-outlet></router-outlet>