@import "~@angular/material/theming";
@import "../../../styles/styles";

.like-button {
  float: left;
  margin-right: 4px;
  cursor: pointer;
  opacity: .35;
  font-size: larger;
}

.dislike, .like{
  opacity: 1;
}