@import "~@angular/material/theming";
@import "../../../styles/styles";

.dislike {
  color: mat-color($default-theme-primary);
}

.like {
  color: #05af04;
}

.like-button {
  float: left;
  margin-right: 4px;
  cursor: pointer;
}