@import "../../../styles/styles";

*{
  background-color: $primary-color;
  color: $primary-text-color
}

.dialog{
  height: 40%;
  width: 100%;
  background-color: $primary-color;
  color: $primary-text-color
}

.l-title{
  width: 20%;
  align-content: left;

}

.l-value{
  width: 20%;
  text-align: center;
}

.l-icons{
  width: 20%;
  text-align: center;
}

.feedback-button-wrapper{
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: .75;
  margin-right: 15px;
}

.less_button_wrapper{
  position: relative;
  left:0;
  bottom:0;
  margin: 5px;
  background-color: $primary-color-dark;
  //background: url("../../../assets/icon/like_s.png");
}
.more_button_wrapper{
  position: relative;
  left:0;
  bottom:0;
  margin: 5px;
  background-color: $primary-color-dark;
  //background: url("../../../assets/icon/dislike_s.png");
}

#dialog_close_btn{
  background-color: $primary;
  color: $primary-text-color;
}

#dialog_confirm_btn{
  color: $primary;
}

#dialog_confirm_apply_btn{
  background-color: $primary;
  color: $primary-text-color;
}

.innerProp {
  margin-right: 10px;
}

.track-feedback-table {
  width: 100%;
}