<h2 md-dialog-title>{{'FEEDBACK_DIALOG.TENDENCY' | translate}} </h2>
<md-dialog-content class="dialog">
    <table class="track-feedback-table">
        <tr>
            <td>
                <p class="attribute-description">{{'TRACK_LIST.DYNAMICS' | translate}}: </p></td>


            <td>
                <p class="attribute-value">{{cTendency.preferredDynamics}} </p></td>
            <td>
                <md-slider #dynamic id="dynamics-slider" color="primary" min="0" step="{{dynamicStepsize}}" max="1"
                           [value]="cTendency.preferredDynamics"
                           (change)="onDynamicSliderChange(dynamic.value)"></md-slider>
            </td>

            <td>
                <button
                        md-icon-button
                        md-mini-fab
                        (click)="btnLessDynamics()">
                    <md-icon>remove</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab class="feedback-button-wrapper more_button_wrapper"
                        (click)="btnMoreDynamics()">
                    <md-icon>add</md-icon>
                </button>
            </td>
        </tr>
        <tr class="last-row">
            <td>
                <p class="attribute-description">{{'TRACK_LIST.SPEED' | translate}}: </p></td>

            <td>
                <p class="attribute-value">{{cTendency.preferredSpeed}} </p></td>
            <td>
                <md-slider #speed id="speed-slider" color="primary" min="{{speedLowerLimit}}" step="{{speedStepsize}}"
                           max="{{speedUpperLimit}}"
                           [value]="cTendency.preferredSpeed"
                           (change)="onSpeedSliderChange(speed.value)"></md-slider>
            </td>
            <td>

                <button
                        md-icon-button
                        md-mini-fab
                        (click)="btnSlower()">
                    <md-icon>remove</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab
                        (click)="btnFaster()">
                    <md-icon>add</md-icon>
                </button>
            </td>
        </tr>
    </table>

    <md-card>
        <md-card-subtitle>
            {{'FEEDBACK_DIALOG.PERIOD_EXPLANATION' | translate}}
        </md-card-subtitle>

        <table class="track-feedback-card-table">
            <tr>
                <td>
                    <p class="attribute-description">{{'FEEDBACK_DIALOG.PERIOD_START' | translate}}: </p></td>
                <td>
                    <p class="attribute-value">{{cTendency.preferredPeriodStart}} </p></td>
                <td>
                    <md-slider #periodStart id="periodStart-slider" color="primary" min="{{yearLowerLimit}}"
                               step="{{yearStepsize}}" max="{{yearUpperLimit}}"
                               [value]="cTendency.preferredPeriodStart"
                               (change)="onPeriodStartSliderChange(periodStart.value)"></md-slider>
                </td>
                <td>
                    <button
                            md-icon-button
                            md-mini-fab
                            (click)="btnStartOlder()">
                        <md-icon>remove</md-icon>
                    </button>
                    <button
                            md-icon-button
                            md-mini-fab
                            (click)="btnStartNewer()">
                        <md-icon>add</md-icon>
                    </button>
                </td>
            </tr>
            <tr class="last-row">
                <td>
                    <p class="attribute-description">{{'FEEDBACK_DIALOG.PERIOD_END' | translate}}: </p></td>
                <td>
                    <p class="attribute-value">{{cTendency.preferredPeriodEnd}} </p></td>
                <td>
                    <md-slider #periodEnd id="periodEnd-slider" color="primary" min="{{yearLowerLimit}}"
                               step="{{yearStepsize}}" max="{{yearUpperLimit}}"
                               [value]="cTendency.preferredPeriodEnd"
                               (change)="onPeriodEndSliderChange(periodEnd.value)"></md-slider>
                </td>
                <td>
                    <button
                            md-icon-button
                            md-mini-fab
                            (click)="btnEndOlder()">
                        <md-icon>remove</md-icon>
                    </button>
                    <button
                            md-icon-button
                            md-mini-fab
                            (click)="btnEndNewer()">
                        <md-icon>add</md-icon>
                    </button>
                </td>
            </tr>
        </table>

    </md-card>
</md-dialog-content>
<md-dialog-actions>
    <button
            id="dialog_close_btn"
            md-raised-button
            md-dialog-close
    >{{'FEEDBACK_DIALOG.CLOSE' | translate}}
    </button>
    <button
            id="dialog_confirm_btn"
            md-raised-button
            md-dialog-close="1"
            (click)="confirmDialog()"
    >{{'FEEDBACK_DIALOG.CONFIRM' | translate}}
    </button>
    <button
            id="dialog_confirm_apply_btn"
            md-raised-button
            md-dialog-close="2"
            (click)="confirmAndApplyDialog()"
    >{{'FEEDBACK_DIALOG.CONFIRMAPPLY' | translate}}
    </button>
</md-dialog-actions>
