@import '~@angular/material/theming';
@import '../../../../theme.scss';

.track-feedback-table, .track-feedback-card-table {
  width: 100%;
}

.track-feedback-table {
  padding: 0px 24px;
  margin: 12px 0px;
}

.track-feedback-table tr td, .track-feedback-card-table tr td {
  padding-bottom: 15px;
}

.last-row td{
  padding-bottom: 0px !important;
}

.mat-raised-button {
  margin: 0 4px;
}

.active-add-button {
  background-color: #05af04;
}

.active-remove-button {
  background-color: mat-color($default-theme-primary);
}

.inactive-button {
  background-color: mat-color($default-theme-accent);
}

.tl-mean-value {
  align-content: left;
  marin: 20px
}

md-slider {
  width: 230px !important;
}

md-select {
  width: 100% !important;
}

/deep/ md-dialog-content {
  background: mat-color($default-theme-accent, darker) !important;
}


.attribute-description {
  width: 80px;
}

.attribute-value {
  width: 40px;
  text-align: right;
}

