<h2 md-dialog-title>{{'FEEDBACK_DIALOG.TENDENCY' | translate}} </h2>
<md-dialog-content class="dialog">
    <table class="track-feedback-table">
        <tr>
            <td>
                <p class="tl-dynamics">{{'TRACK_LIST.DYNAMICS' | translate}}: </p></td>

            <td>
            <td>
            <p class="tl-mean-value">{{cTendency.meanDynamic}} </p></td>
            <td>
                <button
                        [ngClass]="{'active-remove-button': cTendency.lessDynamics}"
                        md-icon-button
                        md-mini-fab
                        (click)="btnLessDynamics()">
                    <md-icon>remove</md-icon>
                </button>
                <button
                        [ngClass]="{'active-add-button': cTendency.moreDynamics}"
                        md-icon-button
                        md-mini-fab class="feedback-button-wrapper more_button_wrapper"
                        (click)="btnMoreDynamics()">
                    <md-icon>add</md-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <p class="tl-speed">{{'TRACK_LIST.SPEED' | translate}}: </p></td>

            <td>

            <td>
                <p class="tl-mean-value">{{cTendency.meanSpeed}} </p></td>
            <td>
                <button
                        md-icon-button
                        md-mini-fab
                        [ngClass]="{'active-remove-button': cTendency.slower}"
                        (click)="btnSlower()">
                    <md-icon>remove</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab
                        [ngClass]="{'active-add-button': cTendency.faster}"
                        (click)="btnFaster()">
                    <md-icon>add</md-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <p class="tl-period">{{'TRACK_LIST.PERIOD' | translate}}: </p></td>
            <td>
            <td>
                <p class="tl-mean-value">{{cTendency.meanYear}} </p></td>
            <td>
                <button
                        md-icon-button
                        md-mini-fab
                        [ngClass]="{'active-remove-button': cTendency.startOlder}"
                        (click)="btnOlder()">
                    <md-icon>remove</md-icon>
                </button>
                <button
                        md-icon-button
                        md-mini-fab
                        [ngClass]="{'active-add-button': cTendency.newer}"
                        (click)="btnNewer()">
                    <md-icon>add</md-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td><p class="l-genre">{{'FEEDBACK_DIALOG.MORE_OF_GENRE' | translate}}: </p></td>
            <td>
                <div id="genre" class="tile">
                    <md-select  [style.width]="'200px'" id="genre-selector" [placeholder]="'FEEDBACK_DIALOG.CHOOSE_GENRE' | translate"
                               [(ngModel)]="cTendency.moreOfGenre">
                        <md-option *ngFor="let genre of genres" [value]="genre">
                            {{genre}}
                        </md-option>
                    </md-select>

                </div>
            </td>
        </tr>

    </table>
</md-dialog-content>
<md-dialog-actions>
    <button
            id="dialog_close_btn"
            md-raised-button
            md-dialog-close
    >{{'FEEDBACK_DIALOG.CLOSE' | translate}}
    </button>
    <button
            id="dialog_confirm_btn"
            md-raised-button
            md-dialog-close="1"
    >{{'FEEDBACK_DIALOG.CONFIRM' | translate}}
    </button>
    <button
            id="dialog_confirm_apply_btn"
            md-raised-button
            md-dialog-close="2"
    >{{'FEEDBACK_DIALOG.CONFIRMAPPLY' | translate}}
    </button>
</md-dialog-actions>
