<div [class]="'themeClass'" id="content-wrapper">
    <md-card *ngIf="!currentTrack">{{'CURRENT_TRACK.NO_TRACK' | translate}}</md-card>
    <div id="song-info" *ngIf="currentTrack">
        <div id="cover-img-table-wrapper">
            <img *ngIf="currentTrack.cover" src="{{currentTrack.cover}}" alt="Cover" class="cover-img">
            <img *ngIf="!currentTrack.cover" src="../../../assets/img/album_cover.png" alt="Cover" class="cover-img">
        </div>

        <div id="text-container">
            <div class="detail-element">
                <like (click)="onTrackFeedbackChanged()" [(value)]="currentTrack.trackFeedback.songFeedback"></like>
                <h1 class="track-info">{{currentTrack.title}}</h1>

            </div>
            <div id="sub-text-container">
                <div class="track-details-container">
                    <div class="detail-element">
                        <like></like>
                        <h3 class="track-info">{{currentTrack.artist.name}}</h3>

                    </div>
                    <div class="detail-element">
                        <like></like>
                        <a class="track-info">{{currentTrack.album.title}} </a>
                        <a *ngIf="currentTrack.releaseDate" class="track-info">
                            ({{currentTrack.releaseDate.getFullYear()}})
                        </a>
                    </div>
                </div>

                <div class="track-details-container right">
                    <div *ngIf="currentTrack.genres.length > 0" class="detail-element">
                        <like></like>
                        <a class="track-info-att"> {{'CURRENT_TRACK.GENRES' | translate}}: </a>
                        <a class="track-info">{{currentTrack.genres[0]}} </a>

                    </div>
                    <div class="detail-element">
                        <like (click)="onTrackFeedbackChanged()"
                              [(value)]="currentTrack.trackFeedback.speedFeedback"></like>
                        <a class="track-info-att"> {{'CURRENT_TRACK.TEMPO' | translate}}: </a>
                        <a class="track-info">{{round(currentTrack.speed) + ' BPM'}}</a>
                    </div>
                    <div class="detail-element">
                        <like (click)="onTrackFeedbackChanged()"
                              [(value)]="currentTrack.trackFeedback.moodFeedback"></like>
                        <a class="track-info-att"> {{'CURRENT_TRACK.MOOD' | translate}}: </a>
                        <a class="track-info"></a>
                    </div>
                    <div class="detail-element">
                        <like (click)="onTrackFeedbackChanged()"
                              [(value)]="currentTrack.trackFeedback.dynamicsFeedback"></like>
                        <a class="track-info-att"> {{'CURRENT_TRACK.DYNAMICS' | translate}}: </a>
                        <a class="track-info">{{round(currentTrack.dynamic, 2)*100 + '%'}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- This div is ignoring the flex-layout set by it's parent! -->
        <div id="action-buttons">
            <button md-fab disableRipple="true"
                    id="{{historyButtonClass}}"
                    (click)="btn_history_toggle()"
                    mdTooltip="{{'CURRENT_TRACK.HISTORY_TOOL_TIP' | translate}}">
                <md-icon>history</md-icon>
            </button>
            <button md-fab disableRipple="true"
                    (click)="btn_renew()"
                    mdTooltip="{{'CURRENT_TRACK.REFRESH' | translate}}">
                <md-icon>autorenew</md-icon>
            </button>
        </div>
    </div>
</div>
