<td [class]="'themeClass'" id="content-wrapper">
    <md-card *ngIf="!currentTrack">{{'CURRENT_TRACK.NO_TRACK' | translate}}</md-card>
    <div id="now-playing-wrapper" *ngIf="currentTrack" class="ct-container">
        <table id="now-playing-details-table">
            <tr>
                <td id="cover-img-table-wrapper">
                    <div id="cover-img-wrapper">
                        <a> <img src="{{currentTrack.cover}}" alt="Cover" class="cover-img"></a>
                    </div>
                </td>
                <td id="now-playing-details-table-wrapper">
                    <div id="now-playing-details-wrapper">
                        <h2>{{currentTrack.artist.name}} - {{currentTrack.title}}</h2>
                        <a>{{currentTrack.album.title}}</a><br>
                        <table id="feedback-button-table">
                            <tr>
                                <td>
                                    <button
                                            md-icon-button
                                            md-fab class="feedback-button-wrapper"
                                            id="like-button-wrapper"
                                            (click)="btn_like()">
                                    </button>
                                    <button
                                            md-icon-button
                                            md-fab class="feedback-button-wrapper"
                                            id="dislike-button-wrapper"
                                            (click)="btn_dislike()">
                                    </button>
                                </td>
                                <button md-raised-button *ngIf="btnVisible" id="special-feedback-btn" (click)="this.feedbackService.getSpecialFeedback()">{{'CURRENT_TRACK.SPECIALFEEDBACK' | translate}} </button>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</td>
<div style="clear:both"></div>