@import "~@angular/material/theming";
@import "../../../styles/styles";

h2 {
  font-family: Quicksand-Regular, arial, sans-serif;
}

#content-wrapper {
  padding: 10px;

  #song-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;

    #cover-img-table-wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      box-shadow: 5px 5px 18px -5px rgb(0, 0, 0);

      md-icon {
        visibility: hidden;
        font-size: 64px;
        height: 64px;
        width: 64px;
      }

      &:hover {
        md-icon {
          visibility: visible;
        }
      }

    }

    #text-container {
      display: flex;
      flex-direction: column;
      margin: 0px 15px;

      .detail-element {
        margin: 5px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .track-info {
          margin: 0 10px 0 0;
        }
      }

      #sub-text-container {
        display: flex;
        justify-content: flex-start;

        .track-details-container {
          display: flex;
          flex-direction: column;
          margin-right: 15px;

          &.right {
            align-items: flex-start;
            margin-left: 100px;

            .genre-label-container {
              height: 24px;
              margin: 5px 0px;
            }
          }
        }
      }
    }
  }
}

.track-info-att {
  width: 80px;
}

.currentTrack {
  h1 {
    color: mat-color($default-theme-primary);
  }
}

/* DONT TOUCH THIS NICE MAGIC :O */
#container {
  display: inline-block;
  position: relative;
  width: 20%;
  max-width: 300px;
  max-height: 300px;
  min-height: 180px;
  min-width: 180px;
}
#dummy {
  margin-top: 100%; /* 1:1 aspect ratio */
}