@import "~@angular/material/theming";
@import "../../../styles/styles";

h2 {
  font-family: Quicksand-Regular, arial, sans-serif;
}

#content-wrapper {
  padding: 10px;
  width: 25%;
  vertical-align: top;
}

.cover-img {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  min-height: 180px;
  min-width: 180px;
}

#cover-img-wrapper {
  width: 70%;
}

#now-playing-details-table {
  width: 100%;
}

#cover-img-table-wrapper {
  width: 15%;
}

#now-playing-details-table-wrapper {
  width: 55%;
  vertical-align: top;
}

.history-button-table-wrapper {
  width:10%;
}

#refresh-recommends-wrapper {
  width: 30%;
}

#now-playing-details-wrapper {
  padding-left: 28px;
}

.feedback-button-wrapper {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  left: 0;
  bottom: 0;
  margin: $default-margin;
}

#feedback-button-table {
  margin-top: 15px;
}

#duration_table {
  margin-top: 15px;
}

#special-feedback-btn {
  position: relative;
  left: 0;
  bottom: 0;
  margin: $default-margin;
}

#history-button-toggle-off {
  background-color: mat-color($default-theme-accent);
}

#history-button-toggle-on {
  background-color: mat-color($default-theme-primary);
}

.track-info {
  margin-bottom: 5px;
  margin-top: 0;
}